<app-header></app-header>
<body class="formContainer">
    <div class="header"><h3>ACCOUNT LOGIN</h3></div>
      <div class="formcontent">
        <div class="inputField"><div class="icon1"><img class="usericon" src="../../assets/user.png"/></div>
          <input class="labelInput1" type="text" placeholder="User name" name="uname" />
        </div>
        <div class="inputField"><div class="icon2"><img class="usericon" src="../../assets/lock.png"/></div>
          <input class="labelInput" type="password" placeholder="Password" name="psw" />
        </div>
        <div class="buttonField"><button type="submit">LOGIN</button></div>
      </div>
  </body>
  