<app-header></app-header>
<div class="formContainer">
    <div class="formContent">
        <div class="header"><h2>Login</h2></div>
        <div>
        <div class="labelInput"><input class="inputField" type="text" name="" id="" placeholder="username"/></div>
        <div>
        <div class="labelInput"><input class="inputField" type="password" name="" id="" placeholder="password"/></div>
        <div class="loginField"><button class="loginButton">Let me in.</button></div>
        
    </div>
</div>
