<html>
    <head>
        <title>Basic Details Form</title>
    </head>
    <body>
        <table class="tableStyles">
            <th>General</th><th>Address</th>
            <tr>
                
                <td>
                    <div class="divStyles">
                        <div><span class="spanStyles">Name</span><input class="inputStyles" type="text" name="name" placeholder="Name" /></div>
                    </div>
                    
                </td>
                <td>
                    <div class="divStyles">
                        <div><span class="spanStyles">House No</span><input class="inputStyles" type="text" name="house no" placeholder="House No" /></div>
                    </div>
                </td>
            </tr>
            
            <tr>
                <td>
                    <div class="divStyles">
                        <div><span class="spanStyles">Age</span><input class="inputStyles" type="number" name="age" placeholder="Age" /></div>
                    </div>
                </td>
                <td>
                    <div class="divStyles">
                        <div><span class="spanStyles">Landmark</span><input class="inputStyles" type="text" name="landmark" placeholder="Landmark" /></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="divStyles">
                        <div><span class="spanStyles">Gender</span><input class="inputStyles" type="text" name="gender" placeholder="Gender" /></div>
                    </div>
                </td>
                <td>
                    <div class="divStyles">
                        <div><span class="spanStyles">City</span><input class="inputStyles" type="text" name="city" placeholder="City" /></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="divStyles">
                        <div><span class="spanStyles">Mobile</span><input class="inputStyles" type="number" name="mobile" placeholder="Mobile" /></div>
                    </div>
                </td>
                <td>
                    <div class="divStyles">
                        <div><span class="spanStyles">State</span><input class="inputStyles" type="text" name="state" placeholder="State" /></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="divStyles">
                        <div><span class="spanStyles">Email</span><input class="inputStyles" type="text" name="email" placeholder="Email" /></div>
                    </div>
                </td>
                <td>
                    <div class="divStyles">
                        <div><span class="spanStyles">Country</span><input class="inputStyles" type="text" name="country" placeholder="Country" /></div>
                    </div>
                </td>
            </tr>
        </table>

        <div class="container">
            <div class="row">
                <div class="labelText"></div>
                <div class="labelInputData"></div>
                <div class="labelText"></div>
                <div class="labelInputData"></div>
            </div>
            <div class="row">
                <div class="labelText"></div>
                <div class="labelInputData"></div>
                <div class="labelText"></div>
                <div class="labelInputData"></div>
            </div>
            <div class="row">
                <div class="labelText"></div>
                <div class="labelInputData"></div>
                <div class="labelText"></div>
                <div class="labelInputData"></div>
            </div>
            <div class="row">
                <div class="labelText"></div>
                <div class="labelInputData"></div>
                <div class="labelText"></div>
                <div class="labelInputData"></div>
            </div>


        </div>
    </body>
</html>
