<app-header></app-header>
<div class="formContainer">
    <div class="formContent">
        <div class="row">
            <div class="col1">
                <div class="header">Login</div>
                <div class="icons"><a href="www.facebook.com" target="_blank"><img class="fbIcon" src="../../assets/fbicon.png"></a>
                    <a href="www.twitter.com" target="_blank"><img class="twitterIcon" src="../../assets/twitter.jpg"></a></div>
                <div class="yourAccount">or use your account</div>
                <div class="labelInput"><input class="inputField" type="email" name="" id="" placeholder="Email"></div>
                <div class="labelInput"><input class="inputField" type="password" name="" id="" placeholder="password"></div>
                <div class="forgotField">Forgot your password?</div>
                <div class="buttonField"><button class="loginButton">LOG IN</button></div>
            </div>
            <div class="col2">
                <div class="rightHeader">HTML and CSS Login<br>Form</div>
                <div class="rightText">This login form is created usig pure<br>
                    HTML and CSS. For social icons,<br>
                    FontAwesome is used.</div>
        </div>
    </div>
</div>