.formContainer{
    background-color: #F3E0E2;
    padding: 10% 20%;
}
.formContent{
    text-align: center;
}
.col1{
    width:50%;
    background-color: #FFFFFF;
    border-radius: 10px 0px 0px 10px;
}
.col2{
    width:50%;
    background-color: #FF4456;
    border-radius: 0px 10px 10px 0px;
}
.twitterIcon{
    width:50px;
    height:50px;
    border-radius: 40px;
}
.fbIcon{
    width:60px;
    height:60px;
    border-radius: 50px;
}
.header,.rightHeader{
    font-weight: bold;
    font-size: 35px;
    padding:20px 0px 30px 0px;
}
.yourAccount{
    padding-top: 20px;
}
.rightHeader,.rightText{
    color:white;
}
.rightHeader{
    padding-top: 100px;
}
.labelInput{
    margin:15px;
}
.inputField{
    width: 80%;
    background-color: #EEEEEE;
    padding:10px;
    padding-left: 10px;
    border:0px;
    border-radius: 5px;
}
::placeholder{
    color:black;
}
.loginButton{
    background-color: #FF4B2B;
    border-radius: 30px;
    padding:7px 40px;
    border:0px;
    margin: 10px;
    color:white;
}
.buttonField{
    padding-bottom: 30px;
}
.forgotField{
    padding:5px 0px;
}