<app-header></app-header>
<div class="formContainer">
</div>
<div class="formContent">
  <div class="row">
    <div class="col1">
      <div class="header">Login</div>
      <div class="noAccount">Doesn't have an account yet? <a href="Form5" target="_blank">SignUp</a></div>
      <div class="labelText">Email Address</div>
      <div class="labelInput"><input class="inputField" type="email" placeholder="you@example.com" /></div>
      <div class="labelText">Password<a class="forgotField" href="Form10">Forgot Password?</a></div>
      <div class="labelInput"><input class="inputField" type="password" placeholder="Enter 6 character or more" /></div>
      <div class="labelCheck"><input class="checkBoxField" type="checkbox" /> Remember me</div>
      <div class="loginButton"><button class="loginField"> LOGIN</button></div>
      <div class="otherSignin">________________or signin with________________</div>
      <div class="fbTwitter"><button class="twitter"><a href="https://www.twitter.com" target="_blank"><img
              class="twitterImg" src="../../assets/twitter.jpg">Twitter</a></button>
        <button class="facebook"><a href="https://www.facebook.com" target="_blank"><img class="fbImg"
              src="../../assets/fbicon.png"> Facebook</a></button></div>
    </div>
    <div class="col2">
    </div>
  </div>
</div>
