<app-header></app-header>
<form class="formContainer">
  <div class="container1">
    <div class="formContent">
    <div>
      <h2 class="heading">Login Form</h2>
    </div>
    <div class="formFields">
  
    <div>
      <div><div class="icon1"><img class="usericon" src="../../assets/user.png"/></div>
      <input class="labelInput" type="text" name="" id="" placeholder="Email Or Phone" /></div>
    <div><div class="icon1"><img class="usericon" src="../../assets/lock.png"/></div>
    <input class="labelInput" type="password" name="" id="" placeholder="Password" /></div>
    <div class="textStyle">Forgot Password?</div>
    <div><button class="btnStyle">Login</button></div>
    <div class="bottomText"><span>Not a member?&nbsp;</span><span class="signup">Signup now</span></div>
    </div>
  </div>
  </div>
  </div>
</form>
