<app-header></app-header>
<div class="formContainer">
    <div class="formContent">
        <div class="row">
            <div class="col1">
                <img src="../../assets/flower.png" />
                <div class="rightText">This login form is created usig pure<br>
                    HTML and CSS. For social icons,<br>
                    FontAwesome is used.</div>
            </div>
            <div class="col2">
                <div class="header">Lovebirds</div>
                <div class="yourAccount">Welcome to Lovebirds</div>
                <div class="labelText">Username or Email</div>
                <div class="labelInput"><input class="inputField" type="email" name="" id="" placeholder=""></div>
                <div class="labelText">Password</div>
                <div class="labelInput"><input class="inputField" type="password" name="" id="" placeholder=""></div>
                <div class="forgotField">Forgot your password?</div>
                <div class="buttonField"><button class="loginButton">Sign in</button></div>
                <div class="fbIcon"><a href="https://www.facebook.com" target="_blank"><img class="signWithFb"src="../../assets/fbicon.png" />Sign in with Facebook</a></div>
                <div class="bottomText">New user? <a href="Form20" target="_blank">Create Account</a> </div>
            </div>
    </div>
</div>