<app-header></app-header>
<div class="formContainer">
    <div class="formContent">
        <div class="row">
            <div class="col1">
                <div class="header">Login to Your Account</div>
                <div class="yourAccount">Login using social networks</div>
                <div class="icons"><a href="www.facebook.com" target="_blank"><img class="fbIcon" src="../../assets/fbicon.png"></a>
                    <a href="www.twitter.com" target="_blank"><img class="twitterIcon" src="../../assets/twitter.jpg"></a>
                    <a href="www.linkedin.com" target="_blank"><img class="linkedIcon" src="../../assets/linkedin.png"></a>
                <div>______________________OR____________________</div>
                <div class="labelInput"><input class="inputField" type="email" name="" id="" placeholder="Email"></div>
                <div class="pwdIcon"><img class="eyeIcon" src="../../assets/eye.png"></div>
                <div class="labelInput"><input class="inputField" type="password" name="" id="" placeholder="password"></div>
                <div class="buttonField"><button class="loginButton">Sign in</button></div>
            </div>
            </div>
            <div class="col2">
                <div class="rightHeader">New Here?</div>
                <div class="rightText">Sign up and discover a great<br>
                    amount of new opportunities!</div>
                <div class="buttonField"><button class="signupButton">Sign Up</button></div>
        </div>
    </div>
</div>
