<app-header></app-header>
<body class="formContainer">
  <div class="formContent">
    <form class="container" [formGroup]='formData' (ngSubmit)='onSubmit()'>
      <div>
        <input class="labelInput" type="text" placeholder="Username" formControlName='username'/>       
      </div>
      <div>
        <input class="labelInput" type="password" placeholder="Password" name="psw" />
      </div>
      <input type="checkbox" checked="checked" />
      <span>Remember me</span> <span class="pswStyle">Forgot Password</span>
      <div><button type="submit">Login</button></div>
    </form>
  </div>
</body>
