<app-header></app-header>
<body class="formContainer">
  <div class="formContent">
    <div class="container">
      <div>
        <input class="labelInput" type="text" placeholder="Username" name="uname" />
        <i class="fa fa-user fa-lg"></i>
      </div>
      <div>
        <input class="labelInput" type="password" placeholder="Password" name="psw" />
        <i class="fa fa-key fa-lg"></i>
      </div>
      <input type="checkbox" checked="checked" />
      <span>Remember me</span> <span class="pswStyle">Forgot Password</span>
      <div><button type="submit">Login</button></div>
    </div>
  </div>
</body>
