<div class="formContainer">
    <div class="divContent">
    <div class="formContent">
        <img class="formImage" src="../../assets/user.png" />
        <div class="header"><h3>User Login</h3></div>
        <div class="labelInput"><input class="inputField" type="text" name="" id="" placeholder="Username Or Email"/></div>
        <div class="labelInput"><input class="inputField" type="password" name="" id="" placeholder="password"/></div>
        <div class="labelCheck"><span class="signIn">Sign-in Options</span>
            <span class="signUp">Sign-Up</span></div>
        <div class="bottomText">Copyright @  Your Company.com</div>
    </div>
    </div>
</div>
