<p>dkdgjglkh</p>
<div class="container">
    <div class="row">
        <div class="labelText">Name</div>
        <div class="labelInputData"><input type="text" /></div>
        <div class="labelText">Address</div>
        <div class="labelInputData"><input type="text" /></div>

    </div>
    <div class="row">
        <div class="labelText">Nametttttttttt</div>
        <div class="labelInputData"><input type="text" /></div>
        <div class="labelText">Address</div>
        <div class="labelInputData"><input type="text" /></div>

    </div>
    <div class="row">
        <div class="labelText">Name</div>
        <div class="labelInputData"><input type="text" /></div>
        <div class="labelText">Addresstttttttt</div>
        <div class="labelInputData"><input type="text" /></div>
    </div>
    <div class="row">
        <div class="labelText">Nametttttttttttttttttttttt</div>
        <div class="labelInputData"><input type="text" /></div>
        <div class="labelText">Address</div>
        <div class="labelInputData"><input type="text" /></div>
    </div>


</div>

<table>
    <tr><td></td><td></td> <td></td> <td></td> </tr>
</table>