.formContainer{
    /* background-color: cadetblue;
    padding:10% 30%; */
    background-image: url(../../assets/download.png);
    height:100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.formContent{
    background-color: rgba(0, 0, 0, 0.2); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 10px;
    padding:20px 10px;
    
}
.col1,.col2{
    width:50%;
    padding-left: 35px;
}
.labelInput{
    margin:10px;
}
.inputField{
    border-radius: 20px;
    border:0px;
    width:100%;
    padding:10px;
    padding-left:50px;
    box-shadow: 0px 1px whitesmoke;
    background-color: yellowgreen;
}
.loginButton{
    padding:3px 30px;
    border:0px;
    background-color: grey;
}
.buttonField{
    padding-top: 10px;
}
.otherButtons{
    border:1px solid white;
    background-color: yellowgreen;
    padding:3px 30px;
    width:85%;
}
.header,.loginButton,.otherButtons,.bottomText,.otherLogin,.buttonField{
    color:white;
    text-align: center;
}
.bottomText{
    padding-top: 20px;
}
.otherLogin{
    padding:10px 0px;
}
.createAccount{
    padding-left: 10px;
    text-decoration: underline;
}
.userIcon,.lockIcon{
    position: absolute;
    width:30px;
    height: 30px;
    margin: 5px 0px 0px 20px;
}
.userIcon{
    margin: 15px 0px 0px 20px;
}
.header{
    padding-bottom: 15px;
}
::placeholder{
    color:white;
}