<div class="formContainer">
    <div class="divContent">
        <div class="formContent">
            <div class="header"><h3>Login</h3></div>
            <div class="icon1"><img class="userIcon" src="../../assets/user.png" /></div>
            <div class="labelInput"><input class="inputField" type="text" name="" id="" placeholder="Email or Username" /></div>
            <div class="icon2"><img class="lockIcon" src="../../assets/lock.png" /></div>
            <div class="labelInput"><input class="inputField" type="password" name="" id="" placeholder="password" /></div>
            <div class="buttonField"><button class="loginButton">LOGIN</button></div>
            <div class="otherLogin"><span class="loginText">Or Login Using</span></div>
            <div class="row">
                <div class="col1"><button class="otherButtons">Facebook</button></div>
                <div class="col2"><button class="otherButtons">Google</button></div>
            </div>
            <div class="bottomText"><span class="newUser">New User?</span><span class="createAccount">Create an Account</span></div>
        </div>
    </div>
</div>