.formContainer{
    height:100%;
    background-image: url(../../assets/20180531194705.jpg);
    /* filter: blur(4px); */
}
body,html{
    height:100%;
}
.formContent{
    background-color: #8787C5;
    padding:25px 25px 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px white;
    width:400px;
}
.labelInput{
    margin: 3px 0px 15px 15px;
}
.labelCheck{
    padding:10px 0px 0px 15px
}
.formText{
    margin:35px 0px;
}
.inputField{
    width:100%;
    border:0px;
    border-radius: 1px;
    padding:10px;
}
.loginButton{
    background-color: #E42062;
    font-weight: bold;
    font-size: 20px;
    width:100%;
    padding: 10px 50px; 
    border-radius: 1px;
    border:0px;
    color:white;
}
.rememberText,.forgotText{
    padding-left: 5px;
}
.formText,.forgotText,.header{
    text-align: center;
}
.forgotText,.rememberText,.header{
    color:#FFFFFF;
    font-weight: bold;
}
.inputField{
    padding-left: 20px;
}
.header{
    color:#FFFFFF;
    padding: 20px 0px;
}
.loginField{
    margin:25px 0px;
}
.labelText,.formText{
    padding-left: 15px;
    color:white;
}
.bottomText{
    text-align: center;
    color:white;
    margin:20px;
}