<app-header></app-header>
<html>
<head>
  <title>Basic Details Form</title>
</head>

<body>
    <div>
        <div >
            <div class="lableName"><span class="spanStyles">Name</span></div>
            <div class="lableInput"><input class="inputStyles" type="text" name="name" placeholder="Name" /></div>
        </div>

        <div >
            <div class="lableName"><span class="spanStyles">Name</span></div>
            <div class="lableInput"><input class="inputStyles" type="text" name="name" placeholder="Name" /></div>
        </div>

    </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- <checkbox>General</checkbox> -->
        <div >
            <div class="lableName"><span class="spanStyles">Name</span></div>
            <div class="lableInput"><input class="inputStyles" type="text" name="name" placeholder="Name" /></div>
        </div>

        <div><span class="spanStyles">Age</span><input class="inputStyles" type="number" name="age" placeholder="Age" />
        </div>
        <div><span class="spanStyles">Gender</span><input class="inputStyles" type="text" name="gender"
            placeholder="Gender" /></div>
        <div><span class="spanStyles">Mobile</span><input class="inputStyles" type="number" name="mobile"
            placeholder="Mobile" /></div>
        <div><span class="spanStyles">Email</span><input class="inputStyles" type="text" name="email"
            placeholder="Email" /></div>
      </div>
      <div class="col">
        <!-- <checkbox>Address</checkbox> -->
        <div><span class="spanStyles">House No</span><input class="inputStyles" type="text" name="house no"
            placeholder="House No" /></div>
        <div><span class="spanStyles">Landmark</span><input class="inputStyles" type="text" name="landmark"
            placeholder="Landmark" /></div>
        <div><span class="spanStyles">City</span><input class="inputStyles" type="text" name="city"
            placeholder="City" /></div>
        <div><span class="spanStyles">State</span><input class="inputStyles" type="text" name="state"
            placeholder="State" /></div>
        <div><span class="spanStyles">Country</span><input class="inputStyles" type="text" name="country"
            placeholder="Country" /></div>

      </div>
    </div>
  </div>
</body>

</html>

