<div class="formContainer">
  <div class="formContent">
    <div class="row">
      <div class="col1">
        <div class="leftContent">
          <div class="leftHeader">
            <h2>INFORMATION</h2>
            <p class="leftImgText">sdgsfddfdjkgjfkjglkhgmngmnggl
              sncxvcbvm,mfdkngfkmhglehurity
              sdgsfddfdjkgjfkjglkhgmngmnggl
              sncxvcbvm,mfdkngf
            </p>
            <p><span class="leftImgSideHeading">Eu ultrices:</span>sdgsfddfdjkgjfkjglkho
              sncxvcbvm,mfdkngfkmhglehurity
              sdgsfddfdjkgj
            </p>
            <div class="leftBtnField"><button class="leftBtnStyle">Have An Account</button></div>
          </div>
        </div>
        </div>
        
      <div class="col2">
        <div class="header">
          <h2>REGISTER FORM</h2>
        </div>
        <div class="row">
          <div class="col4">
            <div class="labelText">First Name</div>
            <div class="labelInput"><input class="inputField" type="text" name="" id="" placeholder="first name"/></div>
          </div>
          <div class="col4">
            <div class="labelText">Last Name</div>
            <div class="labelInput"><input class="inputField" type="text" name="" id="" placeholder="lastname"/></div>
          </div>
        </div>
        <div class="row">
          <div class="labelText">Your Email</div>
          <div class="labelInput"><input class="mailField" type="email" name="" id="" placeholder="your mail"/></div>
        </div>
        <div class="row">
          <div class="col3">
            <div class="labelText">Password</div>
            <div class="labelInput"><input class="inputField" type="text" name="" id="" placeholder="password"/></div>
          </div>
          <div class="col4">
            <div class="labelText">Confirm Password</div>
            <div class="labelInput"><input class="inputField" type="text" name="" id="" placeholder="confirm password"/></div>
          </div>
        </div>
        <div class="row">
          <div class=" checkboxField"><input type="checkbox" />
          <span class="textStyle">I agree to the</span>
          <span class="termsLink"><a href="Play Term of Services">Terms and Conditions</a></span>
        </div>
        <div class="buttonField"><button class="btnStyle">Register</button></div>
      </div>
    </div>

  </div>
</div>
