<!-- <html>

<head>
  <title>Address Form</title>
</head>

<body>
  <form class="basicDetailsForm">

    <div class="inputData">
      <div><span class="labelName">First Name:</span></div>
      <div><input class="labelValue" type="text" name="first name" placeholder="Enter your First Name" /></div>
    </div>

    <div class="inputData">
      <div><span class="labelName">Last Name:</span></div>
      <div><input class="labelValue" type="text" name="last name" placeholder="Enter your Last Name" /></div>
    </div>
    <div>ADDRESS</div>
    <div class="inputData">
      <div><span class="labelName">City:</span></div>
      <div><input class="labelValue" type="text" name="last name" placeholder="Enter your cityName" /></div>
    </div>
    <div class="inputData">
      <div><span class="labelName">State:</span></div>
      <div><input class="labelValue" type="text" name="state name" placeholder="Enter your state Name" /></div>
    </div>
    <div class="inputData">
      <div><span class="labelName">Zip Code:</span></div>
      <div><input class="labelValue" type="number" name="zip code" placeholder="Enter your PIN Code" /></div>
    </div>
    <p>Complete the form to enable submit button.</p>
    <div>
      <input class="submitButton" type="submit" value="SUBMIT" />
    </div>
  </form>
  
  
</body>
</html> -->
<router-outlet></router-outlet>
