<app-header></app-header>
<body class="formContainer">
    <div class="margin">
      <div class="container">
        <div><div class="icon1"><img class="usericon" src="../../assets/user.png"/></div>
          <input class="labelInput" type="text" placeholder="Username" name="uname" />
          <i class="fa fa-user fa-lg"></i>
        </div>
        <div><div class="icon1"><img class="usericon" src="../../assets/lock.png"/></div>
          <input class="labelInput" type="password" placeholder="Password" name="psw" />
          <i class="fa fa-key fa-lg"></i>
        </div>
        <div class="checkbox"><input type="checkbox" checked="checked" />
             <span>&nbsp;&nbsp;&nbsp;Remember me</span> <span class="forgotField">Forgot Password</span></div>
        <div><button type="submit">Login</button></div>
      </div>
    </div>
  </body>
  