.labelInput{ 
    width: 100%;
    margin: 10px 0px; 
    background-color: #0F334B;
    border-radius: 3px;
    padding:10px;
    border:0px;
    color: yellowgreen;
    padding-left: 50px;
} 
button {
    background-color: #3DE6AF; 
    color: block; 
    padding: 7px; 
    margin: 10px 0; 
    width: 30%; 
    border:0px;
    border-radius: 3px;
    font-weight: bold;
} 
.container { 
    padding: 30px 15px; 
    background-color: #001220;
    box-shadow: 0px 0px 10px 10px black;
    border-radius: 5px;
} 
.formContainer{
    background-color: #323739;
    padding:25%;
}
::placeholder{
    color:white;
    padding-left: 0px;
}
.chechbox{
    color: #807464;
}
.forgotField{
    float:right;
}
.usericon{
    width:25px;
    height:30px;
    background-color: white;
}
.icon1{
    position:absolute;
    border: 7px solid white;
    margin-top: 10px;
    border-radius: 3px 0px 0px 3px;
    
}