<body class="bodyBg">
  <form class="formContainer">
    <div class="formContent">
      <div class="row">
        <div class="col1">
          <div class="image"></div>
        </div>
        <div class="col2">
          <div class="header">
            <h2>REGISTER FORM</h2>
          </div>
          <div class="row">
            <div class="col3">
              <div class="labelText">First Name:</div>
              <div class="labelInput"><input class="inputField" type="text" name="" id="" /></div>
            </div>
            <div class="col4">
              <div class="labelText">Last Name:</div>
            </div>
            <div class="labelInput"><input class="inputField" type="text" name="" id="" /></div>
          </div>
          <div class="labelText">Your Email:</div>
          <div class="labelInput"><input class="inputField" type="email" name="" id="" /></div>
          <div class="row">
            <div class="col3">
              <div class="labelText">Password:</div>
              <div class="labelInput"><input class="inputField" type="password" name="" id="" /></div>
            </div>
            <div class="col4">
              <div class="labelText">Confirm Password:</div>
            </div>
            <div class="labelInput"><input class="inputField" type="password" name="" id="" /></div>
          </div>
          <div class="checkboxField"><input type="checkbox" />
            <span class="textStyle">I agree to the &nbsp;&nbsp;</span>
            <a href="Play Term of Services">Terms and Conditions</a></div>
          <div class="buttonField"><button class="btnStyle">Register</button></div>
        </div>
      </div>
    </div>
  </form>
</body>
