<app-header></app-header>
<body class="bodyBg">
<form class="formContainer">
    <div class="formContent">
        <div class="row">
            <div class="col1">
                <div class="image"><img class="imgContent" src="../../assets/images.jpg" /></div>
                <div class="imgTextContent">
                <span class="yourMusic">Bring Your Music</span><br>
                <span class="unlimited">Pro Unlimited</span><br>
                <p class="price"><span class="priceText">$99</span>/Month</p>
                </div>

            </div>
            <div class="col2">
                <div class="header"><h2>Registration Form</h2></div>
                <div class="labelText">Full Name:</div>
                <div class="labelInput"><input class="inputField" type="text" name="" id="" placeholder="ex:Sreenivas Nemalipuri" /></div>
                <div class="labelText">Your Mail:</div>
                <div class="labelInput"><input class="inputField" type="email" name="" id="" /></div>
                <div class="labelText">Password:</div>
                <div class="labelInput"><input class="inputField" type="password" name="" id="" /></div>
                <div class="labelText">Confirm Password:</div>
                <div class="labelInput"><input class="inputField" type="password" name="" id="" /></div>
                <div class="checkboxField"><input type="checkbox" />
                    <span class="textStyle">By signing up, you agree to the</span>
                </div>
                <div class="termsLink"><a href="Play Term of Services">Play Terms of Services</a></div>
                <div class="buttonField"><button class="btnStyle">Register</button></div>
            </div>
        </div>
    </div>
</form>
</body>