<app-header></app-header>
<form class="formContainer">
    <div class="formContent">
        <h5 class="textStyle">Sign Up</h5>
        <div class="row">
            <div class="col1">
                <div class="labelText">First,Last Name*</div>
                <div class="labelText">Organization</div>
                <div class="labelText">Email Address*</div>
                <div class="labelText">Work Phone</div>
                <div class="labelText">House Phone</div>
                <div class="labelText">Cell Phone</div>
                <div class="labelText">Fax</div>
                <div class="labelText">Address 1*</div>
                <div class="labelText">Address 2</div>
                <div class="labelText">City*</div>
                <div class="labelText">State*</div>
                <div class="labelText">Zip Portal Code</div>
                <div class="labelText">Country*</div>
                <div class="labelText">*.required fields</div>
            </div>
            <div class="col2">
                <div><input class="nameStyle" type="text" name="fname" id="" /><input class="nameStyle" type="text" name="lname" id="" /></div>
                <div><input class="labelStyle" type="text" name="organization" id="" /></div>
                <div><input class="labelStyle" type="text" name="email" id="" /></div>
                <div><input class="labelInputStyle"type="text" name="work ph" id="" /></div>
                <div><input class="labelInputStyle" type="text" name="house ph" id="" /></div>
                <div><input class="labelInputStyle" type="text" name="cellph" id="" /></div>
                <div><input class="labelInputStyle" type="text" name="fax" id="" /></div>
                <div><input class="addressStyle" type="text" name="address1" id="" /></div>
                <div><input class="addressStyle" type="text" name="address2" id="" /></div>
                <div><input class="labelStyle" type="text" name="city" id="" /></div>
                <div><input class="labelStyle" type="text" name="state" id="" /></div>
                <div><input class="zipStyle" type="text" name="zip code" id="" /></div>
                <div><input class="labelStyle" type="text" name="country" id="" /></div>
                <div><button class="buttonStyle">Submit</button><a class="linkStyle" href="url">Forms</a></div>
            </div>
        </div> 
    </div>
</form>
