<app-header></app-header>
<form class="formContainer">
    <form class="formContent" [formGroup]='formProfile' (ngSubmit)='onSubmit()'>
        <h5 class="textStyle">Sign Up</h5>
        <div class="row">
            <div class="col1">
                <div class="labelText">First,Last Name*</div>
                <div class="labelText">Organization</div>
                <div class="labelText">Email Address*</div>
                <div class="labelText">Work Phone</div>
                <div class="labelText">House Phone</div>
                <div class="labelText">Cell Phone</div>
                <div class="labelText">Fax</div>
                <div class="labelText">Address 1*</div>
                <div class="labelText">Address 2</div>
                <div class="labelText">City*</div>
                <div class="labelText">State*</div>
                <div class="labelText">Zip Portal Code</div>
                <div class="labelText">Country*</div>
                <div class="labelText">*.required fields</div>
            </div>
            <div class="col2">
                <div><input class="nameStyle" type="text" formControlName="firstname" id="" /><input class="nameStyle" type="text" formControlName="lastname" id="" /></div>
                <div><input class="labelStyle" type="text" formControlName="organization" id="" /></div>
                <div><input class="labelStyle" type="text" formControlName="email" id="" /></div>
                <div><input class="labelInputStyle"type="text" formControlName="workph" id="" /></div>
                <div><input class="labelInputStyle" type="text" formControlName="houseph" id="" /></div>
                <div><input class="labelInputStyle" type="text" formControlName="cellph" id="" /></div>
                <div><input class="labelInputStyle" type="text" formControlName="fax" id="" /></div>
                <div><input class="addressStyle" type="text" formControlName="address1" id="" /></div>
                <div><input class="addressStyle" type="text" formControlName="address2" id="" /></div>
                <div><input class="labelStyle" type="text" formControlName="city" id="" /></div>
                <div><input class="labelStyle" type="text" formControlName="state" id="" /></div>
                <div><input class="zipStyle" type="text" formControlName="zipcode" id="" /></div>
                <div><input class="labelStyle" type="text" formControlName="country" id="" /></div>
                <div><button class="buttonStyle">Submit</button><a class="linkStyle" href="url">Forms</a></div>
            </div>
        </div> 
    </form>
</form>
