<app-header></app-header>
<body class="bodyBackground">
  <h4 class="headStyle"><u>Project Management</u></h4>
  <form [formGroup]="formProfile" class="container" (ngSubmit)="onSubmit()" >
    <div class="formContent">
      <div class="row">
        <div class="col1">
          <div class="labelText">Project Name</div>
          <div class="labelText">Assigned To</div>
          <div class="labelText">Start Date</div>
          <div class="labelText">End Date</div>
          <div class="labelText">Priority</div>
          <div class="labelText">Description</div>
        </div>
        <div class="col2">
          <div><input class="basicStyle" type="text" formControlName="projectName" placeholder="project name" /></div>
          <div>
            <select class="basicStyle" id="Persons">
              <option value="sreenivas">Sreenivas</option>
              <option value="nemalipuri">Nemalipuri</option>
            </select>
          </div>
          <div><input class="basicStyle" type="date" formControlName="startDate"  /></div>
          <div><input class="basicStyle" type="date" formControlName="endDate" /></div>
          <div class="radiofontStyle">
            <input class="radioStyle" formControlName="priority"type="radio" id="high" value="high" />High
            <input class="radioStyle" formControlName="priority" type="radio" id="average" value="avarage" />Average
            <input class="radioStyle" formControlName="priority" type="radio" id="low" value="low" />Low
          </div>
          <div><textarea class="textareaStyle" cols="22" formControlName="description"></textarea></div>
          </div>
        </div>
        <div class="btnStyle"><button class="submitStyle" >Submit</button>
          <button class="clearStyle" >Clear</button></div>
      </div>
  </form>
</body>
