<div class="formContainer">
    <div class="formContent">
        <img class="formImage" src="../../assets/user.png" />
        <div class="header"><h3>User Login</h3></div>
        <div class="labelInput"><input class="inputField" type="text" name="" id="" placeholder="username Or Email"/></div>
        <div class="labelInput"><input class="inputField" type="password" name="" id="" placeholder="password"/></div>
        <div class="labelCheck"><input class="checkBoxField" type="checkbox"/><span class="rememberText">Remember me</span>
            <span class="forgotText">Forget password?</span></div>
        <div class="loginField"><button class="loginButton">Login</button></div>
        <div class="formText"><span class="signUpText">Sign Up</span></div>
        <div class="bottomText">Copyright @  Your Company.com</div>
    </div>
</div>
