<app-header></app-header>
<form class="container" [formGroup]='profileForm' (ngSubmit)='onSubmit()'>
  <div class="formContent">
    <h4 class="textStyle">Contact Us</h4>
    <div class="lableText">YOUR NAME*</div>
    <div class="row">
      <div class="fname"><input class="lableInput" type="text" formControlName='firstname' required placeholder="First Name"/></div>
      <div class="fname"><input class="lableInput" type="text" formControlName="lastname" placeholder="Last Name" /></div>
    </div>
    <div class="lableText">EMAIL ADDRESS*</div>
    <div class="row"><div><input class="lableInput" type="email" name="email" formControlName='email' placeholder="Eg.example@gmail.com" /></div></div>
    <div class="lableText">PHONE NUMBER</div>
    <div><input class="lableInput" type="number" name="ph number" formControlName='phone' placeholder="Eg.+1 800 000000" /></div>
    <div class="lableText">MESSAGE*</div>
    <div><textarea class="inputArea" formControlName='message'  placeholder="please enter your comments...."></textarea></div>
    <div class="btnStyle">
      <button class="submitBtn">Submit -></button>
    </div>
  </div>
</form>
