<html>

<head>
  <title>Text Area</title>
</head>

<body>
  <form action=" " class="container">
    <div class="inputData">

      <div><input class="basicstyle" type="text" placeholder="name"/></div>

      <div><input class="basicstyle" type="text" placeholder="place"/></div>


      <div><input class="basicstyle" type="text" placeholder="mobile"/></div>


      <div><input class="basicstyle" type="text" placeholder="email"/></div>
      
      <div><textarea class="basicstyle" cols="22"> I just want to reset</textarea></div>
      
      <div><input type="button" value="Submit Form" class="buttonStyle" /></div>
    </div>
  </form>
</body>

</html>
